<template>
  <view class="container">
    <!--<app-loading v-if="!isAppReady"> </app-loading>-->
    <!--<app v-if="isAppReady"></app>-->
    <app/>
  </view>
</template>


<script>
  import Vue from "vue-native-core";
  // import { VueNativeBase } from "native-base";
  import { AppLoading } from "expo";

  import App from "../App.vue";

  // Vue.use(VueNativeBase);

  export default {
    components: { App, AppLoading },
    data: function() {
      return {
        isAppReady: true
      };
    },
    created: function() {
      this.loadFonts();
    },
    methods: {
      loadFonts: async function() {
        try {
          // this.isAppReady = false;
          await Expo.Font.loadAsync({
            Avenir: require("../../assets/fonts/Avenir/Avenir-Roman.ttf"),
            'Avenir-Light': require("../../assets/fonts/Avenir/Avenir-Light.ttf"),
            'Avenir-Medium': require("../../assets/fonts/Avenir/Avenir-Medium.ttf"),
            'Avenir-Heavy': require("../../assets/fonts/Avenir/Avenir-Heavy.ttf"),
            'Avenir-Black': require("../../assets/fonts/Avenir/Avenir-Black.ttf"),
          });
          // this.isAppReady = true;
        } catch (error) {
          console.log("some error occured", error);
          // this.isAppReady = true;
        }
      }
    }
  };
</script>

<style>
  .container {
    flex: 1;
  }
</style>
