<template>
  <!--<root>-->
    <app-navigation></app-navigation>
  <!--</root>-->
</template>

<script>
  import React from "react";
  // import store from "./vuex/index";
  import { StackNavigator } from "vue-native-router";
  // import { Root } from "native-base";
  import OnboardingScreen from "./screens/OnboardingScreen.vue";
  import RegisterScreen from "./screens/RegisterScreen.vue";
  import CreateProfileScreen from "./screens/CreateProfileScreen.vue";
  import LinkExchangeScreen from "./screens/LinkExchangeScreen.vue";
  import DashboardScreen from "./screens/DashboardScreen.vue";
  import SendFlow from "./screens/SendFlow.vue";
  const AppNavigation = StackNavigator(
    {
      Onboarding: {
        screen: OnboardingScreen,
        navigationOptions: {
          headerStyle: {
            backgroundColor: '#759BFA',
            borderBottomWidth: 0,
          },
        },
      },
      Register: {
        screen: RegisterScreen,
        navigationOptions: {
          headerStyle: {
            paddingTop: '20%',
            paddingLeft: '5%',
            backgroundColor: '#FFFC54',
            borderBottomWidth: 0,
          },
          headerTintColor: '#B366F7',
        }
      },
      CreateProfile: {
        screen: CreateProfileScreen,
        navigationOptions: {
          headerStyle: {
            backgroundColor: 'white',
            borderBottomWidth: 0,
          },
          headerLeft: null
        }
      },
      LinkExchange: {
        screen: LinkExchangeScreen,
        navigationOptions: {
          headerStyle: {
            backgroundColor: '#0082BF',
            borderBottomWidth: 0,
          },
          headerLeft: null
        }
      },
      Dashboard: {
        screen: DashboardScreen,
        navigationOptions: {
          headerStyle: {
            backgroundColor: '#FAFAFA',
            borderBottomWidth: 0,
          },
          headerLeft: null,
        }
      },
      SendFlow: {
        screen: SendFlow,
        navigationOptions: {
          headerStyle: {
            backgroundColor: '#F380B6',
            borderBottomWidth: 0,
          },
          headerLeft: null,
        }
      }
    },
    {
      initialRouteName: "Onboarding"
    }
  );
  export default {
    components: {
      AppNavigation,
      // Root
    }
  };
</script>
