<template>
  <view class="container">
    <view class="bubble-pink"></view>
    <view class="bubble-blue"></view>
    <view class="bubble-yellow"></view>
    <text class="header-1">
      Your Profile
    </text>
    <image class="snap-bitmoji" :source="require('../../assets/bitmoji.png')" />
    <view class="snap-user-box">
      <text-input class="snap-user-name" v-model="username"></text-input>
    </view>
    <touchable-opacity :on-press="pushLinkExchange" class="button-action">
      <text class="button-action--text">Continue</text>
    </touchable-opacity>
  </view>
</template>

<script>
  export default {
    name: "CreateProfileScreen.vue",
    props: {
      navigation: {
        type: Object,
        index: 0
      }
    },
    data () {
      return {
        username: 'chubbyChef'
      };
    },
    methods: {
      processAccount() {

      },
      pushLinkExchange() {
        this.navigation.navigate("LinkExchange");
      }
    }
  }
</script>

<style>
  .bubble-pink {
    position: absolute;
    top: 12%;
    width: 373px;
    height: 373px;
    background-color: #FAE2ED;
    border-radius: 80px;
    transform: rotate(6deg);

  }
  .bubble-blue {
    position: absolute;
    background-color: #9DDADB;
    opacity: .35;
    width: 240px;
    height: 240px;
    border-radius: 50px;
    transform: rotate(-11deg);
    top: 35%;
    left: -25%;
  }
  .bubble-yellow {
    position: absolute;
    background-color: #FBE159;
    opacity: .51;
    width: 165px;
    height: 165px;
    border-radius: 45px;
    transform: rotate(-26deg);
    top: 15%;
    right: -25%;
  }
  .container {
    flex: 1;
    background-color: white;
    align-items: center;
  }
  .header-1 {
    font-family: Avenir-Heavy;
    color: black;
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin-top: 5%;
  }
  .snap-bitmoji {
    margin-top: 15%;
    width: 150px;
    height: 150px;
  }
  .snap-user-box {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 14px 80px;
    background-color: white;
    border-width: 3px;
    border-radius: 100px;
    border-color: #FBE159;
    top: 6%;
  }
  .snap-user-name {
    font-family: Avenir-Medium;
    color: black;
    font-size: 20px;
  }
  .button-action {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    top: 30%;
    border-radius: 10px;
    width: 330px;
    background-color: #CCF2FE;
    padding: 18px;
    shadowColor: #B3ECFD;
    shadowOpacity: 1;
    shadowRadius: 0;
    elevation: 2;
  }
  .button-action--text {
    font-family: Avenir-Black;
    color: #3B486E;
    font-size: 22px;
  }
</style>
