<template>
  <scroll-view>
    <view class="container" style="padding-bottom: 50">
      <view class="header-box">
        <text class="header-text">Dashboard</text>
        <image class="avatar" :source="require('../../assets/ashAvatar.png')" />
      </view>
      <touchable-opacity :on-press="getBalance">
        <view class="card-swiper">
          <wallet-card
              v-for="walletCard in walletCards"
              :key="walletCard.ticker"
              :walletCard="walletCard"/>
        </view>
      </touchable-opacity>
      <view class="row" style="justify-content: space-between; margin-top: 15">
        <touchable-opacity :on-press="triggerSend">
          <action-button :button="send" />
        </touchable-opacity>
        <touchable-opacity :on-press="triggerReceive">
          <action-button :button="receive" />
        </touchable-opacity>
      </view>
      <view class="row" style="justify-content: center; margin-top: 30;" v-if="inboxMessage">
        <inbox/>
      </view>
      <view class="divider"></view>
      <view>
        <activity-stream/>
      </view>
    </view>
  </scroll-view>
</template>

<script>
  import WalletCard from "../components/WalletCard";
  import ActionButton from "../components/ActionButton";
  import Inbox from "../components/Inbox";
  import ActivityStream from "../components/ActivityStream";
  import axios from 'axios'
  export default {
    name: "DashboardScreen",
    components: {
      WalletCard,
      ActionButton,
      Inbox,
      ActivityStream
    },
    mounted() {
        this.getBalance();
    },
    props: {
      navigation: {
        type: Object
      }
    },
    data () {
      return {
        inboxMessage: true,
        walletCards: [
          {
            ticker: 'BTC',
            symbol: 'Ƀ',
            coinAmount: 2.7031589,
            usdPrice: 6400.76,
            dailyDelta: 0.04
          },
          // {
          //   ticker: 'BCH',
          //   symbol: 'Ƀ',
          //   coinAmount: 7.130954221,
          //   usdPrice: 438.48,
          //   dailyDelta: 0.96
          // },
          // {
          //   ticker: 'ETH',
          //   symbol: 'Ξ',
          //   coinAmount: 41.56323221,
          //   usdPrice: 201.74,
          //   dailyDelta: 0.69
          // },
        ],
        send: 'send',
        receive: 'receive'
      };
    },
    methods: {
      triggerReceive() {
        alert('hit receive');
      },
      triggerSend() {
        this.navigation.navigate("SendFlow");
      },
      getBalance() {
        const path = `http://35.211.71.159/api/getAccount`;
        axios.post(path, { 'email' : "16abhimasani@gmail.com" } )
          .then(response => {
            console.log("outside")
            this.walletCards[0].coinAmount = response.data.coinAmount;
            this.walletCards[0].usdPrice = response.data.usdPrice;
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
</script>

<style>
  .row {
    display: flex;
    flex-direction: row;
  }
  .divider {
    height: 1px;
    width: 100%;
    background-color: #707070;
    opacity: .15;
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .container {
    flex: 1;
    background-color: #FAFAFA;
    padding-left: 25px;
    padding-right: 25px;
  }
  .header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-text {
    font-family: Avenir-Black;
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
</style>
