<template>
  <view class="container">
    <image class="logo-coinbase" :source="require('../../assets/coinbaseLogo.png')" />
    <text class="header">Connect your Coinbase Account to continue</text>
    <text-input
        class="input-api"
        placeholder="API Public Key"
        placeholderTextColor="white"
        v-model="apiKey">
    </text-input>
    <text-input
        class="input-api"
        placeholder="API Secret Key"
        placeholderTextColor="white"
        v-model="apiSecret">
    </text-input>
    <touchable-opacity :on-press="pushDashboard" class="button-action">
      <text class="button-action--text">Confirm</text>
    </touchable-opacity>
  </view>
</template>

<script>
  export default {
    name: "LinkExchangeScreen",
    props: {
      navigation: {
        type: Object
      }
    },
    data () {
      return {
        apiKey: '',
        apiSecret: ''
      };
    },
    methods: {
      processKeys() {

      },
      pushDashboard() {
        this.navigation.navigate("Dashboard");
      }
    }
  }
</script>

<style>
  .container {
    background-color: #0082BF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header {
    font-family: Avenir-Heavy;
    color: #CCF2FE;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .logo-coinbase {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 240px;
    height: 52.12px;
  }
  .input-api {
    font-family: Avenir-Heavy;
    width: 80%;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    opacity: .5;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
  .button-action {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 300px;
    background-color: white;
    padding: 15px;
    margin-top: 30px;
  }
  .button-action--text {
    font-family: Avenir-Heavy;
    color: #3B486E;
    font-size: 22px;
  }
</style>
