<template>
  <view class="container">
    <view class="container-top">
      <image class="logo" :source="require('../../assets/seleneLogo.png')" />
      <text class="header-1">Selene</text>
    </view>
    <view class="container-action">
      <text class="header-2">Manage all your cryptocurrency easily in one place</text>
      <touchable-opacity :on-press="logIn" class="button-cta">
        <text class="text" style="color: white; font-size: 21">Get Started</text>
      </touchable-opacity>
      <view class="container-row">
        <text
          class="text"
          style="color: #617EFF; font-size: 20;">
          Sign In
        </text>
        <text
          class="text"
          style="color: black; font-size: 20">
          Help
        </text>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    props: {
      navigation: {
        type: Object
      }
    },
    data () {
      return {
        message: "Hello World"
      };
    },
    methods: {
        async logIn() {
            console.log("in");
            const {type, token} = await Expo.Facebook.logInWithReadPermissionsAsync('172117027027853', {
                permissions: ['public_profile', 'email'],
            });
            if (type === 'success') {
                // Get the user's name using Facebook's Graph API
                const response = await fetch(
                    `https://graph.facebook.com/me?access_token=${token}&fields=email`);
                console.log((await response.json()).email);

                this.navigation.navigate("LinkExchange");
            }
        }
    }
  };
</script>

<style>
  .container {
    flex: 1;
    background-color: #759BFA;
    align-items: center;
    justify-content: center;
  }
  .container-top {
    position: absolute;
    top: 8%;
  }
  .container-action {
    position: absolute;
    backgroundColor: white;
    height: 45%;
    width: 100%;
    bottom: 0;
  }
  .container-row {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    height: 120;
    width: 120;
  }
  .header-1 {
    font-family: Avenir-Black;
    color: white;
    font-size: 34px;
    margin-top: 70%;
  }
  .header-2 {
    font-family: Avenir-Black;
    text-align: center;
    padding: 44px;
    color: #8E8E93;
    font-size: 18px;
    line-height: 25px;
  }
  .button-cta {
    width: 70%;
    height: 60px;
    background-color: #6CC1F6;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .text {
    font-family: Avenir-Black;
  }
</style>
