<template>
  <view class="container" v-if="snapchat">
    <text class="header-1">
      Sign Up for Selene with your Snapchat account!
    </text>
    <image class="snap-lock" :source="require('../../assets/snapLock.png')" />
    <touchable-opacity :on-press="openSnapchat" class="button-snapchat">
      <view style="display: flex; flex-direction: row">
        <image class="snap-logo" :source="require('../../assets/snapGhost.png')" />
        <text class="button-snapchat--text">Register with Snapchat</text>
      </view>
    </touchable-opacity>
  </view>
</template>

<script>
  export default {
    name: "RegisterScreen",
    props: {
      navigation: {
        type: Object
      }
    },
    data () {
      return {
        snapchat: true,
        facebook: false,
      };
    },
    methods: {
      openSnapchat() {
        this.navigation.navigate("LinkExchange");
      }
    }
  }
</script>

<style>
  .container {
    flex: 1;
    background-color: #FFFC54;
    align-items: center;
  }
  .header-1 {
    font-family: Avenir-Heavy;
    color: #B366F7;
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin-top: 8%;
  }
  .snap-lock {
    width: 264px;
    height: 254px;
    margin-top: 20%;
  }
  .snap-logo {
    width: 28px;
    height: 26.13px;
    margin-right: 6%;
    margin-left: 5%;
  }
  .button-snapchat {
    top: 15%;
    border-radius: 50px;
    width: 330px;
    background-color: white;
    padding: 25px;
  }
  .button-snapchat--text {
    font-family: Avenir-Black;
    color: #B366F7;
    font-size: 19px;
    text-align: center;
  }
</style>
