<template>
  <scroll-view>

    <view class="header-box">

      <text class="header-title" v-if="!selections.contact">
        Send to
      </text>
      <text class="header-title" v-else-if="!selections.source">
        Source
      </text>
      <text class="header-title" v-else-if="!selections.amount">
        Amount
      </text>
      <text class="header-title" v-else>
        Memo
      </text>

      <view class="header-tools">
        <image style="width: 20; height: 20" :source="require('../../assets/scanIcon.png')" />
        <image class="ml" style="width: 18; height: 18; margin-top: 2" :source="require('../../assets/searchIcon.png')" />
        <text class="ml" style="font-family: Avenir-Heavy; font-size: 17; color: white" :on-press="pushCancel">
          Cancel
        </text>
      </view>

    </view>

    <view class="contacts-collapsed" v-if="selections.contact">
      <view class="contact-bar">
        <text style="color: #E768A4; font-size: 18; font-family: Avenir-Black">
          Send to
        </text>
        <view style="display: flex; flex-direction: row">
          <image class="avatar" :source="selections.contact.avatar" />
          <view style="margin-left: 15">
            <text class="full-name">
              {{selections.contact.displayName}}
            </text>
            <text class="username">
              {{selections.contact.userName}}
            </text>
          </view>
        </view>
      </view>
    </view>

    <view class="container" style="padding-bottom: 50">

      <view class="contacts-expanded" v-if="!sequence.contactSelected || !selections.contact">
        <text class="sub-header">Contacts</text>
        <view v-for="contact in contactsList" :key="contact.userName">
          <touchable-opacity :on-press="toggleContact">
            <view class="contact-card">
              <image class="avatar" :source="contact.avatar" />
              <view style="margin-left: 15">
                <text class="full-name">
                  {{contact.displayName}}
                </text>
                <text class="username">
                  {{contact.userName}}
                </text>
              </view>
            </view>
          </touchable-opacity>
        </view>
      </view>

      <view class="amount-expanded" v-if="sequence.contactSelected">
        <view style="display: flex; flex-direction: row; justify-content: space-between">
          <text class="sub-header">Transfer Amount</text>
          <view style="display: flex; flex-direction: row">
            <image style="width: 15; height: 15; margin-right: 12;" :source="require('../../assets/bankIcon.png')" />
            <text style="font-size: 14; font-family: Avenir-Black; color: #9C95F3">
              {{totalUserBalance}} BTC
            </text>
          </view>
        </view>
        <text-input
            class="amount-input"
            placeholder="Bitcoin amount to send"
            placeholderTextColor="grey"
            v-model="selections.amount">
        </text-input>
      </view>

      <touchable-opacity :on-press="sendCoin">
        <view class="action-button" v-if="selections.amount">
          <text style="color: white; font-family: Avenir-Black; font-size: 20; text-align: center">Send</text>
        </view>
      </touchable-opacity>

    </view>

  </scroll-view>
</template>

<script>
  import axios from 'axios';
  export default {
    name: "SendFlow",
    props: {
      navigation: {
        type: Object
      }
    },
    methods: {
      pushCancel() {
        this.navigation.goBack();
      },
      toggleContact() {
        this.sequence.contactSelected = true;
        this.selections.contact = this.contactsList[0];
      },
      sendCoin() {
        const path = `http://35.211.71.159/api/sendMoney`;
        axios.post(path, {
          'email' : "16abhimasani@gmail.com",
          'to' : 'cheshy27@yahoo.com',
          'amount' : this.selections.amount,
          'currency' : 'BTC',
        } )
          .then(response => {
            alert('Success!');
            this.navigation.navigate('Dashboard');
          })
          .catch(error => {
            console.log(error);
            alert('Insufficient Funds!');
          })
      }
    },
    data () {
      return {
        totalUserBalance: 0,
        sequence: {
          contactSelected: false,
          sourceSelected: false,
          amountSelected: false,
          memoSelected: false
        },
        selections: {
          contact: null,
          source: null,
          amount: null,
          memo: null
        },
        contactsList: [
          {
            avatar: require('../../assets/zacAvatar.png'),
            displayName: 'Zac Cheshire',
            userName: '@Cheshyy',
          },
          {
            avatar: require('../../assets/jackAvatar.png'),
            displayName: 'Jack Bonaguro',
            userName: '@Jack.Bond',
          },
          {
            avatar: require('../../assets/ashAvatar.png'),
            displayName: 'Ash Bhimasani',
            userName: '@chubbyChef',
          },
        ],
        friendsList: []
      };
    }
  }
</script>

<style>
  .ml {
    margin-left: 30px;
  }
  .container {
    flex: 1;
    min-height: 100%;
    background-color: #FAFAFA;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }
  .header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F380B6;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
  }
  .header-title {
    font-family: Avenir-Black;
    color: white;
    font-size: 30px;
  }
  .header-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sub-header {
    font-family: Avenir-Black;
    font-size: 18px;
    /*padding-top: 25px;*/
    padding-bottom: 20px;
    color: #474747;
  }
  .contact-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    shadowColor: black;
    shadowOpacity: .07;
    shadowRadius: 14;
    elevation: 2;
    margin-bottom: 20px;
  }
  .avatar {
    width: 42px;
    height: 42px;
  }
  .full-name {
    font-family: Avenir-Black;
    font-size: 16px;
    color: #767676;
    margin-bottom: 4px;
  }
  .username {
    font-family: Avenir-Heavy;
    font-size: 12px;
    color: #34CDFA;
  }

  .contact-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: #F3F5FA;
    padding: 25px;
    align-items: center;
    justify-content: space-between;

  }

  .amount-input {
    width: 300px;
    height: 70px;
    background-color: #DBF3FA;
    font-family: Avenir-Black;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px;
  }

  .action-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: #6CC1F6;
    border-radius: 5px;
  }
</style>
