<template>
  <view>
    <text class="activity-header">
      Activity
    </text>
    <view class="tx-stream">
      <tx-card
          v-for="activityCard in activityList"
          :key="activityCard.tx.timeStamp"
          :activityCard="activityCard"/>
    </view>
  </view>
</template>

<script>
  import TxCard from "./TxCard";
  import axios from 'axios'
  export default {
    name: "ActivityStream",
    components: {
      TxCard
    },
    mounted() {
      this.getTransactions();
    },
    props: {

    },
    data () {
      return {
        activityList: [
          {
            userActor: {
              avatar: require('../../assets/zacAvatar.png'),
              displayName: 'Zac Cheshire',
              userName: 'zachary.cheshire',
            },
            tx: {
              outgoing: true,
              confirmed: true,
              ticker: 'BCH',
              coinAmount: 0.4619,
              usdPriceStamp: 438.48,
              timeStamp: '2018-10-20T13:44:21-04:00'
            },
            memo: '❄️ Juul Pods ❄️',
            heart: true
          },
          {
            userActor: {
              avatar: require('../../assets/jackAvatar.png'),
              displayName: 'Jack Bonaguro',
              userName: 'jack.bonaguro',
            },
            tx: {
              outgoing: false,
              confirmed: true,
              ticker: 'ETH',
              coinAmount: 2.78132,
              usdPriceStamp: 207.35,
              timeStamp: '2018-10-20T06:24:19-04:00'
            },
            memo: 'Protein Powder 🍤️',
            heart: false
          }
        ]
      };
    },
    methods: {
        getTransactions() {
            console.log("in transanctions")

            const path = `http://35.211.71.159/api/listTransactions`
            axios.post(path, { 'email' : "16abhimasani@gmail.com" } )
                .then(response => {
                    console.log(response.data);
                    this.activityList = response.data.map((item) => {
                        item.userActor.avatar = require('../../assets/zacAvatar.png');
                        return item;
                    });
                    console.log(this.activityList);
                })

        }
    }
  }
</script>

<style>
  .activity-header {
    font-family: Avenir-Black;
    color: #474747;
    font-size: 28px;
    text-align: left;
    margin-bottom: 30px;
  }
</style>
