<template>
  <view>

      <view class="action-button-box" v-if="button === 'receive'">
        <image class="action-button-icon" :source="require('../../assets/arrow-down.png')" />
        <text class="action-button-text" style="color: #71DBB7">Receive</text>
      </view>

      <view class="action-button-box" v-else>
        <image class="action-button-icon" :source="require('../../assets/arrow-up.png')" />
        <text class="action-button-text" style="color: #E768A4">Send</text>
      </view>

  </view>
</template>

<script>
  export default {
    name: "ActionButton",
    props: {
      button: {
        type: String
      }
    },
    filters: {
      capitalize: function (value) {
        if (!value) return '';
        value = value.toString();
        return value.charAt(0).toUpperCase() + value.slice(1);
      }
    }
  }
</script>

<style>
  .action-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    shadowColor: black;
    shadowOpacity: .07;
    shadowRadius: 14;
    elevation: 2;
  }
  .action-button-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
  }
  .action-button-text {
    font-family: Avenir-Black;
    font-size: 16px;
    text-align: center;
  }
</style>
