<template>
  <view>

    <touchable-opacity :on-press="toggleInbox">
      <view class="inbox-button-box" v-if="!inboxExpanded">
        <text class="inbox-button-label">Inbox</text>
        <view class="inbox-button-alert">
          <text class="inbox-button-alert-count">3</text>
        </view>
      </view>
      <view class="inbox-button-box expand-inbox" v-else>
        <text class="inbox-button-label" style="color: #E28481">Inbox</text>
        <view class="inbox-button-alert">
          <text class="inbox-button-alert-count">3</text>
        </view>
      </view>
    </touchable-opacity>

  </view>
</template>

<script>
  export default {
    name: "Inbox",
    props: {

    },
    data () {
      return {
        inboxExpanded: false,
      };
    },
    methods: {
      toggleInbox() {
        this.inboxExpanded = !this.inboxExpanded;
        // alert(this.inboxExpanded.toString());
      }
    }
  }
</script>

<style>
  .inbox-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    border-radius: 5px;
    background-color: #E28481;
  }
  .expand-inbox {
    width: 100%;
    background-color: #FAD2D1;
    border-radius: 0;
  }
  .inbox-button-label {
    font-family: Avenir-Black;
    color: white;
    font-size: 21px;
    margin-right: 20px;
  }
  .expand-inbox-label {
    color: #E28481;
  }
  .inbox-button-alert {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 100px;
  }
  .inbox-button-alert-count {
    font-family: Avenir-Black;
    color: #E28481;
    font-size: 14px;
    padding-top: 1px;
  }
</style>
