<template>
  <view class="card-body">
    <view class="card-top">

      <image class="user-avatar" :source="activityCard.userActor.avatar" />

      <view class="action-container">

        <text class="action-statement" v-if="activityCard.tx.outgoing">
          You paid <text style="font-family: Avenir-Black">{{activityCard.userActor.displayName}}</text>
        </text>
        <text class="action-statement" v-else>
          <text style="font-family: Avenir-Black">{{activityCard.userActor.displayName}}</text>{{"\n"}}paid you
        </text>

        <text class="memo">{{activityCard.memo}}</text>

      </view>

      <!--<image class="heart" :source="require('../../assets/heartFull.png')" v-if="activityCard.heart" />-->
      <!--<image class="heart" :source="require('../../assets/heartEmpty.png')" v-else />-->

    </view>

    <view class="divider"></view>

    <view class="card-bottom">

      <view class="tx-info" v-if="activityCard.tx.confirmed">
        <image class="statusIcon" :source="require('../../assets/confirmedIcon.png')" />
        <text class="tx-amount">
          Confirmed ~ <text style="font-family: Avenir-Black; font-size: 14">{{activityCard.tx.coinAmount}} {{activityCard.tx.ticker}}</text>
        </text>
      </view>
      <view class="tx-info" v-else>
        <image class="statusIcon" :source="require('../../assets/pendingIcon.png')" />
        <text class="tx-amount">
          Pending ~ <text style="font-family: Avenir-Black; font-size: 14">{{activityCard.tx.coinAmount}} {{activityCard.tx.ticker}}</text>
        </text>
      </view>

      <text class="fiat" style="color: #71DBB7" v-if="!activityCard.tx.outgoing">
        + ${{activityCard.tx.usdPriceStamp * activityCard.tx.coinAmount | roundFiat}}
      </text>
      <text class="fiat" style="color: #F74C4C" v-else>
        - ${{activityCard.tx.usdPriceStamp * activityCard.tx.coinAmount | roundFiat}}
      </text>

    </view>

  </view>
</template>

<script>
  export default {
    name: "TxCard",
    props: {
      activityCard: {
        type: Object
      }
    },
    filters: {
      roundFiat: function (value) {
        let val = (value/1).toFixed(2);
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
    },
  }
</script>

<style>
  .card-body {
    height: 120px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    shadowColor: black;
    shadowOpacity: .06;
    shadowRadius: 25;
    elevation: 2;
    margin-bottom: 26px;
  }
  .card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
  .user-avatar {
    width: 44px;
    height: 44px;
  }
  .action-container {
    padding-left: 11px;
    padding-top: 2px;
    flex-grow: 2;
  }
  .action-statement {
    font-family: Avenir-Heavy;
    color: #767676;
    font-size: 14px;
    /*margin-bottom: 2px;*/
  }
  .memo {
    color: #8E8E8E;
    font-size: 14px;
    font-family: Avenir-Medium;
  }
  .heart {
    width: 20px;
    height: 18.75px;
    margin-right: 15px;
  }

  .divider {
    margin-top: 12px;
    margin-bottom: 11px;
    height: 0.2px;
    background-color: #707070;
    opacity: .5;
    width: 100%;
  }

  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tx-info {
    display: flex;
    flex-direction: row;
  }

  .statusIcon {
    width: 18px;
    height: 18px;
    margin-right: 7.5px;
  }

  .tx-amount {
    font-family: Avenir-Medium;
    color: #8E8E8E;
    font-size: 13px;
  }
  .fiat {
    font-family: Avenir-Black;
    font-size: 14px;
  }

</style>
