<template>
  <view class="card-box">
    <view style="display: flex; flex-direction: row; justify-content: space-between;">
      <text class="card-box-header" v-if="showFiat">USD Value</text>
      <text class="card-box-header" v-else>Coin Amount</text>
      <touchable-opacity :on-press="toggleCurrency">
        <image class="toggle-currency" :source="require('../../assets/swap.png')" />
      </touchable-opacity>
    </view>
    <text class="card-box-value" v-if="showFiat">
      $ {{walletCard.usdPrice * walletCard.coinAmount | roundFiat}}
    </text>
    <text class="card-box-value" v-else>
      {{walletCard.symbol}} {{walletCard.coinAmount}}
    </text>
    <view style="margin-top: 5%; display: flex; flex-direction: row;">
      <view class="card-box-bubble">
        <text class="card-box-delta">
          <text v-if="walletCard.dailyDelta > 0">+</text>
          {{walletCard.dailyDelta}}%
        </text>
      </view>
      <view class="card-box-badge">
        <text class="card-box-ticker">{{walletCard.ticker}}</text>
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    name: "WalletCard",
    props: {
      walletCard: {
        type: Object
      }
    },
    data () {
      return {
        showFiat: false
      }
    },
    filters: {
      roundFiat: function (value) {
        let val = (value/1).toFixed(2);
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }
    },
    methods: {
      toggleCurrency() {
        this.showFiat = !this.showFiat;
      }
    }
  };
</script>

<style>
  .card-box {
    width: 100%;
    height: 175px;
    background-color: #759BFA;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 30px;
  }
  .card-box-header {
    font-family: Avenir-Black;
    color: white;
    font-size: 13px;
    margin-bottom: 7px;
  }
  .card-box-value {
    font-family: Avenir-Black;
    font-size: 42px;
    color: white;
  }
  .toggle-currency {
    width: 18px;
    height: 12.44px;
  }
  .card-box-bubble {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #B9F4DB;
    width: 90px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 100px;
    margin-right: 20px;
  }
  .card-box-delta {
    font-family: Avenir-Heavy;
    color: #767676;
    font-size: 14px;
  }
  .card-box-badge {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #F1F6FD;
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .card-box-ticker {
    font-family: Avenir-Black;
    font-size: 16px;
    color: #252D47;
  }
</style>
